
* {
	border: 0;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	font-family: "Ubuntu mono", monospace;
	text-shadow: -0.1em -0.1em 0 rgba(0,0,0,0.04);
}

body {
	width: 100%;
	font-size: 120%;
	text-align: center;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 40px;
	background: #0e0e0e;
	box-shadow: 0 3px 5px rgba(0,0,0,0.4);
	padding: 5px 0;
	text-align: left;
}

h1 {
	font-size: 36px;
	color: #FFF;
	text-shadow: -12px 0 0px #FF3380,-24px 0 0px #921D42, -36px 0 0px #4D061C;
	padding: 0 0 0 8%;
}

h2 {
	font-size: 20px;
	color: #0e0e0e;
	text-shadow: -2px 0 0px #FF3380;
	padding: 10px 0;
}

input {
	margin: 20px 0;
	width: 75%;
	padding: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.button {
	color: #fff;
	background-color: #0e0e0e;
	box-shadow: inset 0 0 2px #FF3380;
	border: 1px solid rgba(0,0,0,0.1);
	margin: 7%;
	width: 40%;
	padding: 10px 0;
	border-radius: 0.5em;
	font-size: 1.2em;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.button:hover {
	box-shadow: inset 0 0 100px #FF3380;
	cursor: pointer;
}

p {
	font-size: .9em;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

#container {
	position: relative;
	margin: 50px 0 0 0;
	padding: 0;
}

#blastingbox, #resultsbox {
	width: 50%;
	margin: 0;
	padding: 0;
}

#blastingbox {
	position: fixed;
	left: 0;
	top: 100px;
	padding:0 0 80px;
}

#resultsbox {
	float: right;
	min-height: 400px;
	height: 400px;
	overflow-y: auto;
}

#resultsbox p {
	margin: 1% 0;
}

#placeholder {
	padding: 150px 0 120px;
	color: rgba(0,0,0,0.2);
}

footer {
	height: 20px;
	padding: 5px 0;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #0e0e0e;
	text-align: right;
}

#footer {
	color: #fff;
	font-size: 0.9em;
	padding: 0 10px;
}
